<div id="grid-container">
</div>
<div id="info-box">
  <p>Epoch: <span id="epoch-number">0</span></p>
  <button id="faster" class="button button-small">+</button>
  <button id="slower" class="button button-small">-</button>
  <button id="start-button" class="button button-small">Start</button>
  <button id="pause-button" class="button button-small button-disabled">Pause</button>
</div>

